* {
	box-sizing: border-box;
	margin: 0;
	z-index: 4;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #0f1f39;
	background-image: url("./assets/star-transparent.png");
	background-repeat: repeat;
	background-size: contain;
	color: white;
}

#add-favorite {
	background-color: white;
}

button {
	margin: 2rem 1rem;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	cursor: pointer;
	font-size: 15px;
	font-family: "Secular One", sans-serif;
	background: linear-gradient(145deg, #0b1a34, #0f2247);
	color: white;
	border: 0.2rem solid rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
	text-shadow: 1px 1px 2px #427388;
	transform: scale(1.05);
}

button:disabled {
	background: linear-gradient(145deg, #7e8085, #444546);
}

.buttons {
	display: flex;
	justify-content: center;
}

.planetInfo {
	display: flex;
	justify-content: center;
}

.singleContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, 1fr);
	gap: 0.5rem;
	max-width: 40vw;
	max-height: 85vh;
	align-self: center;
	font-family: "Roboto Condensed", sans-serif;

	.article-singleName {
		grid-row: 1;
		font-size: 3rem;
		font-family: "Secular One", sans-serif;
		letter-spacing: 0.4rem;
		font-weight: 400;
		margin: 0;
		padding: 0.5rem 0;
		font-size: 60px;
	}

	.article-singleLatin {
		grid-row: 2;
		color: #ffd029;
		font-family: "Lora", serif;
		font-weight: 400;
		letter-spacing: 0.8rem;
		font-size: 24px;
	}

	.article-singleDescription {
		grid-row: 3;
		grid-column: 1 / span 2;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		font-size: 18px;
		font-weight: 300;
		p {
			margin-bottom: 2rem;
		}
		.singleDescription {
			line-height: 30.6px;
		}
	}

	.article-singleRadius {
		grid-row: 4;
		padding-bottom: 1rem;
		font-weight: 300;
		h3 {
			padding-top: 2rem;
		}
	}

	.article-singleKm {
		grid-row: 4;
		padding-bottom: 1rem;
		font-weight: 300;
		h3 {
			padding-top: 2rem;
		}
	}

	.article-singleMaxtemp {
		grid-row: 5;
		padding-bottom: 2rem;
		font-weight: 300;
	}

	.article-singleMintemp {
		grid-row: 5;
		padding-bottom: 2rem;
		font-weight: 300;
	}

	.article-singleMoons {
		grid-row: 6;
		grid-column: 1 / span 2;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		font-size: 18px;
		font-weight: 300;
		h3 {
			padding-top: 2rem;
			font-family: "Secular One", sans-serif;
			font-weight: 400;
		}
		.singleMoons {
			line-height: 30.6px;
		}
	}
}

h3 {
	margin-bottom: 5px;
}

.half-circle {
	position: absolute;
	display: block;
	left: -90vh;
	top: 50vh; /* centrerad i höjdled */
	transform: translate(-50%, -50%); /* gör att mittpunkten blir densamma oavsett storlek */
	width: 200vh;
	aspect-ratio: 1;
	background-color: #428ed4;
	border-radius: 50%;
	z-index: 2;
}

/*Yttre halvcirklar*/
.corona-1,
.corona-2 {
	top: 50vh; /* Centrerad i höjdled */
	transform: translate(-50%, -50%); /* Gör att mittpunkten blir densamma oavsett storlek */
	width: 200vh;
	aspect-ratio: 1;
	border-radius: 50%;
}

.corona-1 {
	left: -85vh;
	background-color: rgba(66, 141, 212, 0.35); /* Justerad transparens */
	z-index: 1;
}

.corona-2 {
	left: -80vh;
	background-color: rgba(66, 141, 212, 0.15); /* Justerad transparens */
	z-index: 0;
}
